<html>
    <body>
        {% if messages %}
        <ul>
            {%for message in messages%}
                <li>{{message}}</li>
            {%endfor%}
        </ul>
        {% endif %}
        <h1>My-Booking:</h1>
        {% for key,value in prebooking.items%}
            {%if key != "_state"%}
            {{key}}:{{value}} <br>
            {%endif%}
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <button><h4>Cancel booking</h4></button>
        </form>
    </body>
</html>